---
interface Props {
  categories: string[];
  currentPath: string;
  plural?: boolean;
  basePath: string;
}

const { categories, currentPath, plural, basePath } = Astro.props;

const getCategoryUrl = (category: string) => {
  if (category === 'all') {
    return basePath === 'blog/category' ? '/blog' : `/${basePath}`;
  }
  return `/${basePath}/${category}`;
};

const isActive = (category: string) => {
  if (category === 'all') {
    return currentPath === '/blog' || currentPath === `/${basePath}`;
  }
  return (
    currentPath === `/${basePath}/${category}` || currentPath.includes(`/${basePath}/${category}`)
  );
};
---

<div class="categories">
  <a href={getCategoryUrl('all')} class:list={['category-link', { active: isActive('all') }]}>
    All
  </a>
  {
    categories
      .filter((category) => category !== 'all')
      .map((category) => (
        <a
          href={getCategoryUrl(category)}
          class:list={['category-link', { active: isActive(category) }]}
        >
          {category + (plural ? 's' : '')}
        </a>
      ))
  }
</div>
